body {
    font-family: Arial, sans-serif;
    background-color: #fcdef9;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  
  header {
    width: 100%;
    background-color: #f8d5ff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-shadow: 0 0 10px rgb(220, 96, 255);
    box-shadow: 0 0 20px rgb(200, 0, 255);
    text-align: center;
  }
  


  .interact{
  text-shadow: 0 0 20px rgb(4, 0, 241);

  }

  .table{
    text-shadow: 0 0 20px rgb(4, 0, 241);
  }

  .sidebar {
    width: 25%;
    background-color: #f3b3d6;
    padding:20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(0, 38, 255);
    text-shadow: 0 0 20px rgb(200, 0, 255);


  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar a {
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  
  main {
    width: 75%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .float-left {
    float: left;
    margin: 0 15px 10px 0;
    width: 250px;
    box-shadow: 0 0 20px rgb(4, 0, 241);
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid rgb(220, 96, 255);
    padding: 5px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      order: -1;
    }
  
    main {
      width: 100%;
    }
  }